<br>
<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, t('.errors')) %></h2>
        <% task.errors.full_messages.each do |error| %>
          <%= error %>
          <br>
        <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label 'title' %>
    <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label 'content' %>
    <br>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label t('.due_date') %>
    <br>
    <%= f.datetime_select :due %>
  </div>
  <div>
    <%= f.label t('.status') %>
    <br>
    <%= f.select :status, Task.statuses.keys %>
  </div>
  <br>
  <% if current_page?(new_task_path) %>
    <%= f.submit %>
  <% else %>
    <%= f.submit t('.update') %>
  <% end %>
<% end %>