<h1><%= t('.head') %></h1>
<table>
<head>
  <th><%= t('.user_name') %></th>
  <th><%= t('.title') %></th>
  <th><%= t('.content') %></th>
</head>

<body>
<% @tasks.each do |t| %>
  <tr class="task_row" >
  <td>投稿者の名前</td>
  <td><%= t.title %></td>
  <td><%= t.content %></td>
  <td><%= link_to t('.show'), t %></td>
  <td><%= link_to t('.edit'), edit_task_path(t) %></td>
  <td><%= link_to t('.destroy'), t, method: :delete, data: { confirm: t('.confirm') } %></td>
  </tr>
<% end %>
</body>
</table>
<%= link_to t('.new'), new_task_path %>

